<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon" />
  <title>Form Elements | PlainAdmin Demo</title>

  <!-- ========== All CSS files linkup ========= -->
  <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/public/css/lineicons.css" />
  <link rel="stylesheet" href="/public/css/materialdesignicons.min.css" />
  <link rel="stylesheet" href="/public/css/fullcalendar.css" />
  <link rel="stylesheet" href="/public/css/main.css" />
  <link rel="stylesheet" href="/public/css/custom.css" />
  <!-- <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ asset('css/lineicons.css') }}" />
  <link rel="stylesheet" href="{{ asset('css/materialdesignicons.min.css') }}" />
  <link rel="stylesheet" href="{{ asset('css/fullcalendar.css') }}" />
  <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
  <link rel="stylesheet" href="{{ asset('css/custom.css') }}" /> -->
</head>

<body>
  <!-- ======== Preloader =========== -->
  <!-- <div id="preloader">
    <div class="spinner"></div>
  </div> -->
  <!-- ======== Preloader =========== -->

  <!-- ======== sidebar-nav start =========== -->
  <aside class="sidebar-nav-wrapper">
    <div class="navbar-logo">
      <h2 class="text-primary fw-bold text-center">SISIMIOP</h2>
    </div>
    <nav class="sidebar-nav">
      <ul>
        <li class="nav-item d-flex align-items-center">
          <a href="invoice.html">
            <i class="fa-solid fa-table-list me-2 "></i>
            <p class="text m-0">Daftar Pajak</p>
          </a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a href="invoice.html">
            <i class="fa-solid fa-book-atlas me-2 "></i>
            <p class="text m-0">SPOP</p>
          </a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a href="invoice.html">
            <i class="fa-solid fa-book me-2"></i>
            <p class="text m-0">LSPOP</p>
          </a>
        </li>
asas
      </ul>
    </nav>

  </aside>
  <div class="overlay"></div>
  <!-- ======== sidebar-nav end =========== -->

  <!-- ======== main-wrapper start =========== -->
  <main class="main-wrapper">
    <!-- ========== header start ========== -->
    <header class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-5 col-md-5 col-6">
            <div class="header-left d-flex align-items-center">
              <!-- <div class="menu-toggle-btn mr-15">
                <button id="menu-toggle" class="main-btn primary-btn btn-hover">
                  <i class="lni lni-chevron-left me-2"></i> Menu
                </button>
              </div> -->
              <!-- <div class="header-search d-none d-md-flex">
                <form action="#">
                  <input type="text" placeholder="Search..." />
                  <button><i class="lni lni-search-alt"></i></button>
                </form>
              </div> -->
            </div>
          </div>
          <div class="col-lg-7 col-md-7 col-6 d-flex justify-content-end">
            <button class="btn text-end btn-danger">Keluar</button>
          </div>
        </div>
      </div>
    </header>
    <!-- ========== header end ========== -->

    <!-- ========== tab components start ========== -->
    <section class="tab-components">
      <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="title text-center">
                <h3><b>LAMPIRAN SURAT PEMBERITAHUAN OBJEK PAJAK</b></h3>
              </div>
            </div>
          </div>
          <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->

        <!-- ========== form-elements-wrapper start ========== -->
        <div class="form-elements-wrapper">
          <div class="row">
            <div class="card card-form">
              <div class="div">
                <h6 class="mb-25">
                  Jenis Transaksi<span class="text-danger">*</span>
                </h6>
                <div class="d-flex justify-content-start gap-2">
                  <div class="form-check radio-style mb-20">
                    <input class="form-check-input" type="radio" value="1" id="radio-transaksi-1" name="transaksi"
                      required />
                    <label class="form-check-label" for="radio-transaksi-1">
                      1. Perekaman Data
                    </label>
                  </div>
                  <div class="form-check radio-style mb-20">
                    <input class="form-check-input" type="radio" value="2" id="radio-transaksi-2" name="transaksi" />
                    <label class="form-check-label" for="radio-transaksi-2">
                      2. Pemutakhiran Data
                    </label>
                  </div>
                  <div class="form-check radio-style mb-20">
                    <input class="form-check-input" type="radio" value="3" id="radio-transaksi-3" name="transaksi" />
                    <label class="form-check-label" for="radio-transaksi-3">
                      3. Penghapusan Data
                    </label>
                  </div>
                  <div class="form-check radio-style mb-20">
                    <input class="form-check-input" type="radio" value="4" id="radio-transaksi-4" name="transaksi" />
                    <label class="form-check-label" for="radio-transaksi-4">
                      4. Penilaian Individu
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="card card-form mt-4">
              <div class="input-style-1">
                <h6 class="mb-25">NOP<span class="text-danger">*</span></h6>
                <div class="d-flex flex-wrap">
                  <div class="col-lg-6 col-12 mb-2 px-3">
                    <label class="mb-1" for="provinsi">Provinsi</label>
                    <input id="provinsi" type="text" placeholder="Masukkan Data" />
                  </div>
                  <div class="col-lg-6 col-12 mb-2 px-3">
                    <label class="mb-1" for="Kabupaten">Kabupaten</label>
                    <input id="Kabupaten" type="text" placeholder="Masukkan Data" />
                  </div>
                  <div class="col-lg-6 col-12 mb-2 px-3">
                    <label class="mb-1" for="Kecamatan">Kecamatan</label>
                    <input id="Kecamatan" type="text" placeholder="Masukkan Data" />
                  </div>
                  <div class="col-lg-6 col-12 mb-2 px-3">
                    <label class="mb-1" for="Gampong">Gampong</label>
                    <input class="form-control" id="Gampong" type="text" placeholder="Masukkan Data" />
                  </div>
                  <div class="col-lg-6 col-12 mb-2 px-3">
                    <label class="mb-1" for="Blok">Blok</label>
                    <input class="form-control" id="Blok" type="text" placeholder="Masukkan Data" />
                  </div>
                  <div class="col-lg-6 col-12 mb-2 px-3">
                    <label class="mb-1" for="No.Urut">No.Urut</label>
                    <input class="form-control" id="No.Urut" type="text" placeholder="Masukkan Data" />
                  </div>
                  <div class="col-lg-6 col-12 mb-2 px-3">
                    <label class="mb-1" for="Kode">Kode</label>
                    <input class="form-control" id="Kode" type="text" placeholder="Masukkan Data" />
                  </div>
                </div>
                <hr />
                <div class="d-flex flex-wrap">
                  <div class="col-lg-6 col-12 mb-2 px-3">
                    <label class="mb-1" for="jumlah_bangunan">3. Jumlah Bangunan</label>
                    <input id="jumlah_bangunan" type="text" placeholder="Masukkan Data" />
                  </div>
                  <div class="col-lg-6 col-12 mb-2 px-3">
                    <label class="mb-1" for="bangunan_ke">4. Bangunan Ke</label>
                    <input id="bangunan_ke" type="text" placeholder="Masukkan Data" />
                  </div>
                </div>
              </div>
            </div>
            <h4 class="fw-bold text-lg-center text-start my-3">
              A. RINCIAN DATA BANGUNAN
            </h4>
            <div class="card card-form">
              <div class="d-flex flex-wrap">
                <div class="col-lg-6 col-12 mb-2 px-3 mb-2">
                  <label for="jenis_penggunaan_bangunan">5. Jenis Penggunaan Bangunan</label>
                  <select id="jenis_penggunaan_bangunan" class="form-control">
                    <option value="">Silahkan Pilih</option>
                    <option value="1">Perumahan</option>
                    <option value="2">Perkantoran Swasta</option>
                    <option value="3">Pabrik</option>
                    <option value="4">Toko/Apotik/Pasar/Ruko</option>
                    <option value="5">Rumah Sakit/Klinik</option>
                    <option value="6">Olah Raga/Rekreasi</option>
                    <option value="7">Hotel/Wisata</option>
                    <option value="8">Bengkel/Gudang/Pertanian</option>
                    <option value="9">Gedung Pemerintah</option>
                    <option value="10">Lain-lain</option>
                    <option value="11">Bangunan Tidak Kena Pajak</option>
                    <option value="12">Bangunan Parkir</option>
                    <option value="13">Apartemen</option>
                    <option value="14">Pompa Bensin</option>
                    <option value="15">Tangki Minyak</option>
                    <option value="16">Gedung Sekolah</option>
                  </select>
                </div>
                <div class="col-lg-6 col-12 px-3 mb-2">
                  <label class="mb-1" for="luas_bangunan">6. Luas Bangunan(M2)</label>
                  <input class="form-control" id="luas_bangunan" type="text" placeholder="Masukkan Data" />
                </div>
                <div class="col-lg-6 col-12 px-3 mb-2">
                  <label class="mb-1" for="jumlah_lantai">7. Jumlah Lantai</label>
                  <input class="form-control" id="jumlah_lantai" type="text" placeholder="Masukkan Data" />
                </div>
                <div class="col-lg-6 col-12 px-3 mb-2">
                  <label class="mb-1" for="tahun_dibangun">8. Tahun Dibangun</label>
                  <input class="form-control" id="tahun_dibangun" type="text" placeholder="Masukkan Data" />
                </div>
                <div class="col-lg-6 col-12 px-3 mb-2">
                  <label class="mb-1" for="tahun_direnovasi">9. Tahun Direnovasi</label>
                  <input class="form-control" id="tahun_direnovasi" type="text" placeholder="Masukkan Data" />
                </div>
                <div class="col-lg-6 col-12 px-3 mb-2">
                  <label class="mb-1" for="tahun_direnovasi">10. Daya Listrik Trepasang (Watt)</label>
                  <input class="form-control" id="tahun_direnovasi" type="text" placeholder="Masukkan Data" />
                </div>
                <div class="col-lg-6 col-12 mb-2 px-3 mb-2">
                  <label for="kondisi_pada_umumnya">11. Kondisi Pada Umumnya</label>
                  <select id="kondisi_pada_umumnya" class="form-control">
                    <option value="">Silahkan Pilih</option>
                    <option value="1">Sangat Baik</option>
                    <option value="2">Baik</option>
                    <option value="3">Sedang</option>
                    <option value="4">Jelek</option>
                  </select>
                </div>
                <div class="col-lg-6 col-12 mb-2 px-3 mb-2">
                  <label for="konstruksi">12. Konstruksi</label>
                  <select id="konstruksi" class="form-control">
                    <option value="">Silahkan Pilih</option>
                    <option value="1">Baja</option>
                    <option value="2">Beton</option>
                    <option value="3">Batu Bara</option>
                    <option value="4">Kaya</option>
                  </select>
                </div>
                <div class="col-lg-6 col-12 mb-2 px-3 mb-2">
                  <label for="atap">13. Atap</label>
                  <select id="atap" class="form-control">
                    <option value="">Silahkan Pilih</option>
                    <option value="1">Decrabon/Beton/Gtg Glazur</option>
                    <option value="2">Gtg Beton/Alumunium</option>
                    <option value="3">Gtg Biasa/Sirap</option>
                    <option value="4">Asbes</option>
                    <option value="5">Seng</option>

                  </select>
                </div>
                <div class="col-lg-6 col-12 mb-2 px-3 mb-2">
                  <label for="dinding">14. Dinding</label>
                  <select id="dinding" class="form-control">
                    <option value="">Silahkan Pilih</option>
                    <option value="1">Kaca/Alumunium</option>
                    <option value="2">Beton</option>
                    <option value="3">Batu Bata/Conblok</option>
                    <option value="4">Kayu</option>
                    <option value="5">Seng</option>
                    <option value="6">Tidak Ada</option>
                  </select>
                </div>
                <div class="col-lg-6 col-12 mb-2 px-3 mb-2">
                  <label for="lantai">15. Lantai</label>
                  <select id="lantai" class="form-control">
                    <option value="">Silahkan Pilih</option>
                    <option value="1">Marmer</option>
                    <option value="2">Keramik</option>
                    <option value="3">Teraso</option>
                    <option value="4">Ubin PC/Papan</option>
                    <option value="5">Semen</option>
                  </select>
                </div>
                <div class="col-lg-6 col-12 mb-2 px-3 mb-2">
                  <label for="lantai">16. Langit - Langit</label>
                  <select id="lantai" class="form-control">
                    <option value="">Silahkan Pilih</option>
                    <option value="1">Akustik/Jati</option>
                    <option value="2">Triplek/Asbes Bambu</option>
                    <option value="3">Tidak Ada</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <h4 class="fw-bold text-lg-center text-start my-3">
            B. FASILITAS
          </h4>
          <div class="card card-form">
            <div class="d-flex flex-wrap">
              <div class="col-lg-6 col-12 px-3 mb-2">
                <h6>17. Jumlah AC</h6>
                <div class="d-flex flex-wrap">
                  <div class="col-6 px-2">
                    <label class="mb-1" for="ac_split">Split</label>
                    <input class="form-control" name="ac_split" id="ac_split" type="text" placeholder="Masukkan Data" />
                  </div>
                  <div class="col-6 px-2">
                    <label class="mb-1" for="ac_window">Window</label>
                    <input class="form-control" name="ac_window" id="ac_window" type="text"
                      placeholder="Masukkan Data" />
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-12 mb-2 px-3 mb-2">
                <label for="lantai">18. AC Central</label>
                <select id="lantai" class="form-control">
                  <option value="">Silahkan Pilih</option>
                  <option value="ada">Ada</option>
                  <option value="tidak_ada">Tidak Ada</option>
                </select>
              </div>
              <div class="col-lg-6 col-12 mb-2 px-3 mb-2">
                <label class="mb-1" for="luas_kolam_renang">19. Luas Kolam Renang(M2)</label>
                <div class="d-flex flex-wrap">
                  <div class="col-6 px-2">
                    <input class="form-control" name="luas_kolam_renang" id="luas_kolam_renang" type="text"
                      placeholder="Masukkan Data" />
                  </div>
                  <div class="col-6 px-2">
                    <select id="tipe_kolam_renang" class="form-control">
                      <option value="">Silahkan Pilih</option>
                      <option value="plester">Di Plester</option>
                      <option value="pelapis">Dengan Pelapis</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-12 px-3 mb-2">
                <h6>20. Luas Perkerasan Halaman (M2)</h6>
                <div class="d-flex flex-wrap">
                  <div class="col-6 px-2">
                    <label class="mb-1" for="luas_perkerasan_halaman_">Ringan</label>
                    <input class="form-control" name="luas_perkerasan_halaman_" id="luas_perkerasan_halaman_"
                      type="text" placeholder="Masukkan Data" />
                  </div>
                  <div class="col-6 px-2">
                    <label class="mb-1" for="luas_perkerasan_halaman_sedang">Sedang</label>
                    <input class="form-control" name="luas_perkerasan_halaman_sedang" id="luas_perkerasan_halaman_"
                      type="text" placeholder="Masukkan Data" />
                  </div>
                  <div class="col-6 px-2">
                    <label class="mb-1" for="luas_perkerasan_halaman_berat">Berat</label>
                    <input class="form-control" name="luas_perkerasan_halaman_berat" id="luas_perkerasan_halaman_"
                      type="text" placeholder="Masukkan Data" />
                  </div>
                  <div class="col-6 px-2">
                    <label class="mb-1" for="luas_perkerasan_halaman_dpl">Dengan Penutup Lantai</label>
                    <input class="form-control" name="luas_perkerasan_halaman_dpl" id="luas_perkerasan_halaman_"
                      type="text" placeholder="Masukkan Data" />
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-12 px-3 mb-2">
                <h6>21. Jumlah Lapangan Tenis</h6>
                <div class="d-flex flex-wrap align-items-center mt-3">
                  <div class="col-4 text-end pe-2 ">
                    <p>Beton</p>
                  </div>
                  <div class="col-4  pe-2">
                    <input class="form-control" name="beton_dengan_lampu" id="luas_perkerasan_halaman_" type="text"
                      placeholder="Masukkan Data" />
                  </div>
                  <div class="col-4">
                    <input class="form-control" name="beton_tanpa_lampu" id="luas_perkerasan_halaman_" type="text"
                      placeholder="Masukkan Data" />
                  </div>
                </div>
                <div class="d-flex flex-wrap align-items-center mt-3">
                  <div class="col-4 text-end pe-2 ">
                    <p>Aspal</p>
                  </div>
                  <div class="col-4  pe-2">
                    <input class="form-control" name="aspal_dengan_lampu" id="luas_perkerasan_halaman_" type="text"
                      placeholder="Masukkan Data" />
                  </div>
                  <div class="col-4">
                    <input class="form-control" name="aspal_tanpa_lampu" id="luas_perkerasan_halaman_" type="text"
                      placeholder="Masukkan Data" />
                  </div>
                </div>
                <div class="d-flex flex-wrap align-items-center mt-3">
                  <div class="col-4 text-end pe-2 ">
                    <p>Tanah Liat/Rumput</p>
                  </div>
                  <div class="col-4  pe-2">
                    <input class="form-control" name="tanah_dengan_lampu" id="luas_perkerasan_halaman_" type="text"
                      placeholder="Masukkan Data" />
                  </div>
                  <div class="col-4">
                    <input class="form-control" name="tanah_tanpa_lampu" id="luas_perkerasan_halaman_" type="text"
                      placeholder="Masukkan Data" />
                  </div>
                </div>

              </div>
              <div class="col-lg-6 col-12 px-3 mb-2">
                <h6>22. Jumlah Lift</h6>
                <div class="d-flex flex-wrap align-items-center mt-3">
                  <div class="col-4  pe-2">
                    <input class="form-control" name="lift_penumpang" id="lift_penumpang" type="text"
                      placeholder="Masukkan Data" />
                  </div>
                  <div class="col-4 ps-2 ">
                    <p>Penumpang</p>
                  </div>
                </div>
                <div class="d-flex flex-wrap align-items-center mt-3">
                  <div class="col-4  pe-2">
                    <input class="form-control" name="kapsul" id="kapsul" type="text" placeholder="Masukkan Data" />
                  </div>
                  <div class="col-4 ps-2 ">
                    <p>Kapsul</p>
                  </div>
                </div>
                <div class="d-flex flex-wrap align-items-center mt-3">
                  <div class="col-4  pe-2">
                    <input class="form-control" name="barang" id="barang" type="text" placeholder="Masukkan Data" />
                  </div>
                  <div class="col-4 ps-2 ">
                    <p>Barang</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-12 px-3 mb-2">
                <h6>23. Jumlah Tangga Berjalan</h6>
                <div class="d-flex flex-wrap align-items-center mt-3">
                  <div class="col-4 ps-2 ">
                    <p>Lbr < 0.80 M</p>
                  </div>
                  <div class="col-4  pe-2">
                    <input class="form-control" name="23_k080" id="23_k080" type="text" placeholder="Masukkan Data" />
                  </div>
                </div>
                <div class="d-flex flex-wrap align-items-center mt-3">
                  <div class="col-4 ps-2 ">
                    <p>Lbr > 0.80 M</p>
                  </div>
                  <div class="col-4  pe-2">
                    <input class="form-control" name="23_b080" id="23_b080" type="text" placeholder="Masukkan Data" />
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-12 mb-2 px-3 mb-2">
                <div class="d-flex flex-wrap">
                  <div class="col-6 px-2">
                    <label class="mb-1 fw-bold" for="panjang_pagar">24. Panjang Pagar(M2)</label>
                    <input class="form-control" name="panjang_pagar" id="panjang_pagar" type="text"
                      placeholder="Masukkan Data" />
                  </div>
                  <div class="col-6 px-2 ">
                    <label class="mb-1 fw-bold" for="bahan_pagar">Bahan Pagar(M2)</label>
                    <select id="bahan_pagar" class="form-control">
                      <option value="">Silahkan Pilih</option>
                      <option value="baja/besi">Baja Besi</option>
                      <option value="bata/batako">Bata Batako</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-12 mb-2 px-3 mb-2">
                <label class="mb-1 fw-bold" for="hydrant">25. PEMADAM KEBAKARAN</label>
                <div class="d-flex flex-wrap align-items-center">
                  <div class="col-2 text-start pe-2">
                    Hydrant
                  </div>
                  <div class="col-6 d-flex flex-wrap">
                    <div class="form-check radio-style">
                      <input class="form-check-input" type="radio" value="" name="hydrant" id="hydrant-1" />
                      <label class="form-check-label" for="hydrant-1">
                        Ada</label>
                    </div>
                    <div class="form-check radio-style">
                      <input class="form-check-input" type="radio" value="" name="hydrant" id="hydrant-2" />
                      <label class="form-check-label" for="hydrant-2">
                        Tidak Ada</label>
                    </div>
                  </div>
                </div>
                <div class="d-flex flex-wrap align-items-center">
                  <div class="col-2 text-start pe-2">
                    Sprinkler
                  </div>
                  <div class="col-6 d-flex flex-wrap">
                    <div class="form-check radio-style">
                      <input class="form-check-input" type="radio" value="" name="sprinkler" id="sprinkler-1" />
                      <label class="form-check-label" for="sprinkler-1">
                        Ada</label>
                    </div>
                    <div class="form-check radio-style">
                      <input class="form-check-input" type="radio" value="" name="sprinkler" id="sprinkler-2" />
                      <label class="form-check-label" for="sprinkler-2">
                        Tidak Ada</label>
                    </div>
                  </div>
                </div>
                <div class="d-flex flex-wrap align-items-center">
                  <div class="col-2 text-start pe-2">
                    Fire A1
                  </div>
                  <div class="col-6 d-flex flex-wrap">
                    <div class="form-check radio-style">
                      <input class="form-check-input" type="radio" value="" name="fireA1" id="fireA1-1" />
                      <label class="form-check-label" for="fireA1-1">
                        Ada</label>
                    </div>
                    <div class="form-check radio-style">
                      <input class="form-check-input" type="radio" value="" name="fireA1" id="fireA1-2" />
                      <label class="form-check-label" for="fireA1-2">
                        Tidak Ada</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-12 px-3 mb-2">
                <label class="mb-1 fw-bold" for="jumlah_saluran_pes_pabx">26. JUMLAH SALURAN PES. PABX</label>
                <input class="form-control" name="jumlah_saluran_pes_pabx" id="jumlah_saluran_pes_pabx" type="text"
                  placeholder="Masukkan Data" />
              </div>
              <div class="col-lg-6 col-12 px-3 my-2">
                <label class="mb-1 fw-bold" for="jumlah_saluran_pes_pabx">27. KEDALAMAN SUMUR ARTETIS (M)</label>
                <input class="form-control" name="jumlah_saluran_pes_pabx" id="jumlah_saluran_pes_pabx" type="text"
                  placeholder="Masukkan Data" />
              </div>
            </div>
          </div>
        </div>

        <h4 class="fw-bold text-lg-center text-start my-3">
          C. DATA TAMBAHAN UNTUK JPB = 3/8
        </h4>
        <div class="card card-form ">
          <P class="fw-bold">PABRIK/BENGKEL/GUDANG/PERTANIAN (JBP=3/8)</P>

          <div class="d-flex flex-wrap">
            <div class="col-lg-6 col-12 px-3 my-2">
              <label class="mb-1 fw-bold" for="tinggi_kolong">28. TINGGI KOLOM (M)</label>
              <input class="form-control" name="tinggi_kolong" id="tinggi_kolong" type="text"
                placeholder="Masukkan Data" />
            </div>
            <div class="col-lg-6 col-12 px-3 my-2">
              <label class="mb-1 fw-bold" for="lebar_bentang">29. LEBAR BENTANG (M)</label>
              <input class="form-control" name="lebar_bentang" id="lebar_bentang" type="text"
                placeholder="Masukkan Data" />
            </div>
            <div class="col-lg-6 col-12 px-3 my-2">
              <label class="mb-1 fw-bold" for="daya_dukung_lantai">30. DAYA DUKUNG LANTAI (Kg/M²)</label>
              <input class="form-control" name="daya_dukung_lantai" id="daya_dukung_lantai" type="text"
                placeholder="Masukkan Data" />
            </div>
            <div class="col-lg-6 col-12 px-3 my-2">
              <label class="mb-1 fw-bold" for="keliling_dinding">31. KELILING DINDING (M)</label>
              <input class="form-control" name="keliling_dinding" id="keliling_dinding" type="text"
                placeholder="Masukkan Data" />
            </div>
          </div>
        </div>
        <h4 class="fw-bold text-lg-center text-start my-3">
          D. DATA TAMBAHAN UNTUK NON STANDARD
        </h4>
        <div class="card card-form">
          <div class="d-flex flex-wrap">
            <div class="col-6 px-2 ">
              <P class="fw-bold text-black">PERKANTORAN SWASTA/GEDUNG/PEMERINTAHAN (JPB = 2/9)</P>
              <label class="mb-1 fw-bold" for="33_perkantoran_swasta_gedung_pemerintahan">33. KELAS BANGUNAN</label>
              <select id="33_perkantoran_swasta_gedung_pemerintahan" name="33_perkantoran_swasta_gedung_pemerintahan"
                class="form-select">
                <option value="">Silahkan Pilih</option>
                <option value="kelas_1">Kelas 1</option>
                <option value="kelas_2">Kelas 2</option>
                <option value="kelas_3">Kelas 3</option>
              </select>
            </div>
            <div class="col-6 px-2 ">
              <P class="fw-bold text-black">TOKO/APOTIK/PASAR/RUKO (JPB=4)</P>
              <label class="mb-1 fw-bold" for="34_toko_apotik_pasar_ruko">34.KELAS BANGUNAN </label>
              <select id="34_toko_apotik_pasar_ruko" name="34_toko_apotik_pasar_ruko" class="form-select">
                <option value="">Silahkan Pilih</option>
                <option value="kelas_1">Kelas 1</option>
                <option value="kelas_2">Kelas 2</option>
                <option value="kelas_3">Kelas 3</option>
              </select>
            </div>
            <div class="col-6 px-2 ">
              <P class="fw-bold text-black">RUMAH SAKIT / KLINK (JPB = 5)</P>
              <label class="mb-1 fw-bold" for="35_rumah_sakit_klinik">35.KELAS BANGUNAN </label>
              <select id="35_rumah_sakit_klinik" name="35_rumah_sakit_klinik" class="form-select">
                <option value="">Silahkan Pilih</option>
                <option value="kelas_1">Kelas 1</option>
                <option value="kelas_2">Kelas 2</option>
                <option value="kelas_3">Kelas 3</option>
                <option value="kelas_4">Kelas 4</option>
              </select>
            </div>
            <div class="col-lg-12 col-12 px-3 my-2 ">
              <P class="fw-bold text-black">RUMAH SAKIT / KLINIK (JBP = 4)</P>
              <div class="d-flex flex-wrap">

                <div class="col-6 px-2">
                  <label class="mb-1 fw-bold" for="36_luas_kamar_dengan_ac_sentral">36. LUAS KAMAR DENGAN AC
                    SENTRAL(M2)</label>
                  <input class="form-control" name="36_luas_kamar_dengan_ac_sentral"
                    id="36_luas_kamar_dengan_ac_sentral" type="text" placeholder="Masukkan Data" />
                </div>
                <div class="col-6 px-2">
                  <label class="mb-1 fw-bold" for="37_luas_ruang_lain_dengan_ac_sentral">37. LUAS RUANG LAIN DENGAN AC
                    SENTRAL (M2)</label>
                  <input class="form-control" name="37_luas_ruang_lain_dengan_ac_sentral"
                    id="37_luas_ruang_lain_dengan_ac_sentral" type="text" placeholder="Masukkan Data" />
                </div>
              </div>
            </div>
            <div class="col-6 px-2 ">
              <P class="fw-bold text-black">OLAHRAGA / REKREASI (JBP=6)</P>
              <label class="mb-1 fw-bold" for="38_olahraga_rekreasi">38.KELAS BANGUNAN </label>
              <select id="38_olahraga_rekreasi" name="38_olahraga_rekreasi" class="form-select">
                <option value="">Silahkan Pilih</option>
                <option value="kelas_1">Kelas 1</option>
                <option value="kelas_2">Kelas 2</option>
              </select>
            </div>
            <div class="col-lg-12 col-12 px-3 my-2 ">
              <P class="fw-bold text-black">HOTEL / WISMA (JBP = 7)</P>
              <div class="d-flex flex-wrap">
                <div class="col-6 px-2">
                  <label class="mb-1 fw-bold" for="39_jenis_hotel">39.JENIS HOTEL </label>
                  <select id="39_jenis_hotel" name="39_jenis_hotel" class="form-select">
                    <option value="">Silahkan Pilih</option>
                    <option value="non_resort">Non Resort</option>
                    <option value="resort">Resort</option>
                  </select>
                </div>
                <div class="col-6 px-2">
                  <label class="mb-1 fw-bold" for="40_jumlah_bintang">40. JUMLAH BINTANG </label>
                  <select id="40_jumlah_bintang" name="40_jumlah_bintang" class="form-select">
                    <option value="">Silahkan Pilih</option>
                    <option value="bintang_5">Bintang 5</option>
                    <option value="bintang_4">Bintang 4</option>
                    <option value="bintang_3">Bintang 3</option>
                    <option value="bintang_1-2">Bintang 1-2</option>
                    <option value="non_bintang">Non Bintang</option>
                  </select>
                </div>
                <div class="col-6 px-2">
                  <label class="mb-1 fw-bold" for="41_jumlah_kamar">41. JUMLAH KAMAR</label>
                  <input class="form-control" name="41_jumlah_kamar" id="41_jumlah_kamar" type="text"
                    placeholder="Masukkan Data" />
                </div>
                <div class="col-6 px-2">
                  <label class="mb-1 fw-bold" for="42_luas_kamar_dengan_ac_sentra">42. LUAS KAMAR DENGAN AC SENTARAL
                    (M2)</label>
                  <input class="form-control" name="42_luas_kamar_dengan_ac_sentra" id="42_luas_kamar_dengan_ac_sentra"
                    type="text" placeholder="Masukkan Data" />
                </div>
                <div class="col-6 px-2">
                  <label class="mb-1 fw-bold" for="43_luas_ruang_lain_dengan_ac_sentral">43. LUAS RUANG LAIN DENGAN AC
                    SENTARAL (M2)</label>
                  <input class="form-control" name="43_luas_ruang_lain_dengan_ac_sentral"
                    id="43_luas_ruang_lain_dengan_ac_sentral" type="text" placeholder="Masukkan Data" />
                </div>
              </div>
            </div>
            <div class="col-6 px-2 ">
              <P class="fw-bold text-black">BANGUNAN PARKIR (JPB =12)</P>
              <label class="mb-1 fw-bold" for="44_tipe_bangunan">44.TIPE BANGUNAN </label>
              <select id="44_tipe_bangunan" name="44_tipe_bangunan" class="form-select">
                <option value="">Silahkan Pilih</option>
                <option value="tipe_4">Tipe 4</option>
                <option value="tipe_3">Tipe 3</option>
                <option value="tipe_2">Tipe 2</option>
                <option value="tipe_1">Tipe 1</option>
              </select>
            </div>
            <div class="col-12  ">
              <P class="fw-bold text-black mt-3">APARTEMEN (JPB = 13)</P>
              <div class="d-flex flex-wrap">
                <div class="col-6 px-2 ">
                  <label class="mb-1 fw-bold" for="45_kelas_bangunan">45.KELAS BANGUNAN </label>
                  <select id="45_kelas_bangunan" name="45_kelas_bangunan" class="form-select">
                    <option value="">Silahkan Pilih</option>
                    <option value="tipe_4">Tipe 4</option>
                    <option value="tipe_3">Tipe 3</option>
                    <option value="tipe_2">Tipe 2</option>
                    <option value="tipe_1">Tipe 1</option>
                  </select>
                </div>
                <div class="col-6 px-2 ">
                  <label class="mb-1 fw-bold" for="46_jumlah_apartemen">46.JUMLAH APARTEMEN </label>
                  <input class="form-control" name="46_jumlah_apartemen" id="46_jumlah_apartemen" type="text"
                    placeholder="Masukkan Data" />
                </div>
                <div class="col-6 px-2 ">
                  <label class="mb-1 fw-bold" for="47_luas_apartemen_dengan_ac_sentral">47. LUAS APARTEMEN DENGAN AC
                    SENTRAL (M2) </label>
                  <input class="form-control" name="47_luas_apartemen_dengan_ac_sentral"
                    id="47_luas_apartemen_dengan_ac_sentral" type="text" placeholder="Masukkan Data" />
                </div>
                <div class="col-6 px-2 ">
                  <label class="mb-1 fw-bold" for="48_ls_ruang_lain_dengan_ac_sentral">48. LUAS RUANG LAIN DENGAN AC
                    SENTRAL (M2)</label>
                  <input class="form-control" name="48_ls_ruang_lain_dengan_ac_sentral"
                    id="48_ls_ruang_lain_dengan_ac_sentral" type="text" placeholder="Masukkan Data" />
                </div>
              </div>
            </div>
            <div class="col-12 px-2 ">
              <P class="fw-bold text-black mt-3">TANGKI MINYAK (JPB = 15)</P>
              <div class=" d-flex flex-wrap">
                <div class="col-6 px-2 ">
                  <label class="mb-1 fw-bold" for="49_kapasitas_tangki">49. KAPASITAS TANGKI (M3)</label>
                  <input class="form-control" name="49_kapasitas_tangki" id="49_kapasitas_tangki" type="text"
                    placeholder="Masukkan Data" />
                </div>
                <div class="col-6 px-2 ">
                  <label class="mb-1 fw-bold" for="50_letak_tangki">50. LETAK TANGKI </label>
                  <select id="50_letak_tangki" name="50_letak_tangki" class="form-select">
                    <option value="">Silahkan Pilih</option>
                    <option value="di_atas_tanah">Tipe 4</option>
                    <option value="di_bawah_tanah">Tipe 3</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-6 px-2 ">
              <P class="fw-bold text-black mt-3">GEDUNG SEKOLAH (JPB=16)</P>
              <label class="mb-1 fw-bold" for="45_kelas_bangunan">51. KELAS BANGUNAN </label>
              <select id="45_kelas_bangunan" name="45_kelas_bangunan" class="form-select">
                <option value="">Silahkan Pilih</option>
                <option value="tipe_1">Tipe 1</option>
                <option value="tipe_2">Tipe 2</option>
              </select>
            </div>
          </div>
        </div>
        <h4 class="fw-bold text-lg-center text-start my-3">
          E. PENILAIAN INDIVIDUAL (X rP. 1.000,-)
        </h4>
        <div class="card card-form ">
          <div class="d-flex flex-wrap">

            <div class="col-6 px-2 ">
              <label class="mb-1 fw-bold" for="52_nilai_sistem">52. NILAI SISTEM</label>
              <input class="form-control" name="52_nilai_sistem" id="52_nilai_sistem" type="text"
                placeholder="Masukkan Data" />
            </div>
            <div class="col-6 px-2 ">
              <label class="mb-1 fw-bold" for="53_nilai_individual">53. NILAI INDIVIDUAL</label>
              <input class="form-control" name="53_nilai_individual" id="53_nilai_individual" type="text"
                placeholder="Masukkan Data" />
            </div>
          </div>
        </div>
        <h4 class="fw-bold text-lg-center text-start my-3">
          F. IDENTITAS PENDATA / PEJABAT YANG BERWENANG
        </h4>
        <div class="card card-form ">
          <div class="d-flex flex-wrap">


            <div class="col-6 px-2">
              <P class="fw-bold text-black mt-3 text-center mb-3">PETUGAS PENDATA</P>
              <div class="col-12">
                <label class="mb-1 fw-bold" for="54_tanggal_kunjungan_kembali">54. TANGAL KUNJUNGAN KEMBALI</label>
                <input class="form-control" name="54_tanggal_kunjungan_kembali" id="54_tanggal_kunjungan_kembali"
                  type="date" placeholder="Masukkan Data" />
              </div>
              <div class="col-12">
                <label class="mb-1 fw-bold" for="55_tanggal_pendataan">55. TANGAL PENDATAAN</label>
                <input class="form-control" name="55_tanggal_pendataan" id="55_tanggal_pendataan" type="date"
                  placeholder="Masukkan Data" />
              </div>
              <div class="col-12">
                <label class="mb-1 fw-bold" for="56_tanda_tangan">56. TANDA TANGAN</label>
                <div class="card w-50">
                  <div class="card-body py-5"></div>
                </div>
              </div>
              <div class="col-12 px-2 ">
                <label class="mb-1 fw-bold" for="57_nama_jelas">57. NAMA JELAS</label>
                <input class="form-control" name="57_nama_jelas" id="57_nama_jelas" type="text"
                  placeholder="Masukkan Data" />
              </div>
              <div class="col-12 px-2 ">
                <label class="mb-1 fw-bold" for="58_nip">58. NIP</label>
                <input class="form-control" name="58_nip" id="58_nip" type="text" placeholder="Masukkan Data" />
              </div>
            </div>
            <div class="col-6 px-2">
              <P class="fw-bold text-black mt-3 text-center mb-3">MENGETAHUI PEJABAT YANG BERWENANG</P>
              <div class="col-12">
                <label class="mb-1 fw-bold" for="59_tanggal_penelitian">59. TANGAL PENELITIAN</label>
                <input class="form-control" name="59_tanggal_penelitian" id="59_tanggal_penelitian" type="date"
                  placeholder="Masukkan Data" />
              </div>
              <div class="col-12">
                <label class="mb-1 fw-bold" for="60_tanda_tangan">60. TANDA TANGAN</label>
                <div class="card w-50">
                  <div class="card-body py-5"></div>
                </div>
              </div>
              <div class="col-12 px-2 ">
                <label class="mb-1 fw-bold" for="61_nama_jelas">61. NAMA JELAS</label>
                <input class="form-control" name="61_nama_jelas" id="61_nama_jelas" type="text"
                  placeholder="Masukkan Data" />
              </div>
              <div class="col-12 px-2 ">
                <label class="mb-1 fw-bold" for="62_nip">62. NIP</label>
                <input class="form-control" name="62_nip" id="62_nip" type="text" placeholder="Masukkan Data" />
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- end row -->
      </div>
      <!-- ========== form-elements-wrapper end ========== -->
      </div>
      <!-- end container -->
    </section>
    <!-- ========== tab components end ========== -->

    <!-- ========== footer start =========== -->

    <!-- ========== footer end =========== -->
  </main>
  <!-- ======== main-wrapper end =========== -->

  <!-- ========= All Javascript files linkup ======== -->
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/Chart.min.js"></script>
  <script src="assets/js/dynamic-pie-chart.js"></script>
  <script src="assets/js/moment.min.js"></script>
  <script src="assets/js/fullcalendar.js"></script>
  <script src="assets/js/jvectormap.min.js"></script>
  <script src="assets/js/world-merc.js"></script>
  <script src="assets/js/polyfill.js"></script>
  <script src="assets/js/main.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</body>

</html>