<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon" />
    <title>Sign In | PlainAdmin Demo</title>

    <!-- ========== All CSS files linkup ========= -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/lineicons.css" />
    <link rel="stylesheet" href="/public/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="/public/css/fullcalendar.css" />
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="/public/css/custom.css" />
</head>

<body class="bg-white">
    <div class="container-fluid">
        <div class="d-flex flex-wrap">
            <div class="col-lg-6 col-12 bg-primary-100  " style="height: 100vh !important;">
                <div class="d-flex  align-items-center pt-lg-5">
                    <div class="auth-cover text-center mt-lg-5">
                        <div class="cover-image mt-lg-5">
                            <img class="w-50 rounded " src="/public/img/tax.png" alt="">
                        </div>
                        <div class="title text-center">
                            <h1 class="text-primary fw-bold mb-10">Selamat Datang</h1>
                            <p class="text-medium">
                                Silahkan masuk terlebih dahulu untuk melanjutkan
                            </p>
                        </div>
                        <div class="shape-image">
                            <img src="assets/images/auth/shape.svg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 d-flex align-items-center">
                <div class="signin-wrapper">
                    <div class="form-wrapper">
                        <h3 class="mb-15">Masuk</h3>
                        <p class="text-sm mb-25">
                            Silahkkan masukkan username dan katasandi.
                        </p>
                        <form action="#">
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>Email</label>
                                        <input type="email" placeholder="Email" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>Password</label>
                                        <input type="password" placeholder="Password" />
                                    </div>
                                </div>



                                <div class="col-xxl-6 col-lg-12 col-md-6">
                                    <div class="text-start text-md-end text-lg-start text-xxl-end mb-30">

                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="button-group d-flex justify-content-center flex-wrap">
                                        <button class="main-btn primary-btn btn-hover rounded-pill w-100 text-center">
                                            Masuk
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>