.card-form{
    border: none;
    padding : 20px;
    border-radius: 15px;
}

.hr-desktop{
    @media screen and (min-width: 768px){
        display: block;
    }
}

.card-sidebar-active{
    background-color: #f9f9f9;
 color: #365CF5 !important; 
}
.img-dashboard{
    height: 120px;
}
.card-dashboard{
    border-radius: 15px;
}

.sign-lspop_56{
    width: 246px;
}