.card-form{
    border: none;
    padding : 20px;
    border-radius: 15px;
}

.hr-desktop{
    @media screen and (min-width: 768px){
        display: block;
    }
}

.card-sidebar-active{
    background-color: #f9f9f9;
 color: #365CF5 !important; 
}
.img-dashboard{
    height: 120px;
}
.card-dashboard{
    border-radius: 15px;
}

.sign-ttd{
    width: 246px;
}
.sket-denah{
    width:1080px;
    height: 512px;
    border-radius: 15px !important;
    border: 0.5px solid #a5a5a549;
    @media screen and (max-width: 768px){
        height:1000px;
        width: 500px;
    }
}
