.card-form{
    border: none;
    padding : 20px;
    border-radius: 15px;
}

.hr-desktop{
    @media screen and (min-width: 768px){
        display: block;
    }
}

.card-sidebar-active{
    background-color: #f9f9f9;
 color: #365CF5 !important; 
}
.img-dashboard{
    height: 120px;
}
.card-dashboard{
    border-radius: 15px;
}

.sign-ttd{
    width: 246px;
}
.sket-denah{

    background-color: #fdfdfd;
    border-radius: 10px !important;
    border: 0.5px solid #d4d4d4;
    
}
.input-no-border{
    border: none;
    border-bottom: 2px solid #767676 !important;
    border-radius: 0px;
}
.input-no-border::-webkit-input-placeholder{
    font-style: italic;

}
.image-ttd{
    border: 1px solid #a5a5a5;
    border-radius: 10px;
}

.btn-edit-ttd{
    aspect-ratio: 1/1;
}
.bottom-btn-card {

    box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.031);

}
.card-header-list-active{
     background-color: #f9f9f9 !important;
    border-radius: 10px !important;
  color: #365CF5;
}

.card-header-list{
    background-color: transparent;
    border-radius: 10px !important;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
.card-header-list:hover{
    background-color: #f9f9f9b9;
    border-radius: 10px !important;
    border: none;
    color: #365CF5;
}
.card-login{
    border: none;
    @media screen and (max-width: 970px){
        border-radius: 15px;
        padding: 20px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    }
}
.col-login-right{
    @media screen and (max-width: 970px){
        background-color: rgba(54, 92, 245, 0.1) !important;
    }
}
.signin-wrapper{
    @media screen and (max-width: 970px){
        background-color: transparent;
        margin-top: 30px;
    }
}

.btn-dropdown{
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: black;
}
.btn-dropdown:hover{
    background-color: #f9f9f9;
    border: none;
    border-radius: 10px;
    color: #365CF5;
}

.dropdown-profil{
    padding: 8px;
    border-radius: 15px;
    border: 0px;
    box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 0 16px rgba(0, 0, 0, 0.1);
}
.item-profil{
    border-radius: 15px;
}
.img-home{
    height: 450px;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}
.img-berita{
    height: 200px;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}